= form_with url: weather_information_search_path, method: :get, local: true do |form|
  = form.label "Zip"
  = form.text_field :zip_code, placeholder: "Enter Zip Code", value: params[:zip_code]
  = form.submit "Get Weather"
